<!--
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->

<div class="row light-green lighten-3 transition-fade">
    
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content spaceBackground light-green-text text-lighten-5">
                <span class="bigTitleSpan">Your account has been deleted!</span>
                <p class="sizeTwoSpan">
                    <br>
                    Feel free to come back anytime!
                    <br>
                </p>
            </div>

            <div class="card-action">
                <a href="/landing" class="light-green-text">Back to the main page</a>
            </div>
        </div>
    </div>
    
</div>