<!--
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    This code shows the login screen where the user can enter their account.
    It displays a splash image inside a card with a couple of text inputs for the
    username and password, with a button to send the form to the router.
    This code utilizes the materialize library.
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->


<div id="nameBanner" class="row transition-fade">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content bookBackground light-green-text text-lighten-5" style="padding: 15px;">
                <div class="valign-wrapper">
                    <span class="bigTitleSpan">Welcome to the Infinitybook!</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row light-green lighten-3 transition-fade">

    <div class="col s12 m6 l5 offset-l1">
        <a href="/login">
            <div class="card hoverable">

                <div class="card-image">
                    <img src="imgs/moon background.jpg">
                    <span class="card-title light-green-text text-lighten-5 bigTitleSpan">Want to lead stories? Login</span>
                </div>

            </div>
        </a>
    </div>


    <div class="col s12 m6 l5">
        <a href="/code">
            <div class="card hoverable">

                <div class="card-image">
                    <img src="imgs/read background.jpg">
                    <span class="card-title light-green-text text-lighten-5 bigTitleSpan">Want to view a story? Click here</span>
                </div>

            </div>
        </a>
    </div>

</div>