<div class="row light-green lighten-3 transition-fade">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="card-image">
                <img src="imgs/read background.jpg">
                <span class="card-title light-green-text text-lighten-5 bigTitleSpan">Test</span>
            </div>
            <div class="card-content">
                <div class="row">

                    <form class="col s12" action="/test" method="POST">
                        <div class="row">
                            <div class="input-field col s6 offset-s2">
                                <i class="material-icons prefix">book</i>
                                <input id="icon_prefix" type="text" class="validate" name="test" required
                                    aria-required="true">
                                <label for="icon_prefix">Test</label>
                            </div>
                            <button class="col s2 btn-large waves-effect waves-light green darken-3" type="submit">Enter
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    
                    <!--If there are any errors, the router will take the user back here and display
                        an error message.-->
                    <% if (messages.error) { %><p>&nbsp;</p>
                    <p class="red-text"><%= messages.error %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</div>