<!-- Scripts to initialize Average Color and Newbook -->
<script src="js/fast-average-color/index.min.js"></script>
<script src='js/newbook.js'></script>

<div>
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card">
                <div class="card-image">
                    <img id="pageBackground" src="imgs/backgrounds/default.jpg">
                    <span id="pageText" class="card-title bookpageTextSpan" style="z-index: 1; top: 0; right: 0;"></span>
                    <img id="character1" src="" class="bottomleft">
                    <img id="character3" src="" class="bottomCenter">
                    <img id="character2" src="" class="bottomRight">
                </div>

                <div class="card-content" style="padding: 20px">
                    <div class="row">
                        <div class="col s12 m4 l4 center-align">
                            <a id="btnPreviousPage" class="btn waves-effect waves-light green darken-3"
                                style="margin-top: 5px; width: 100%;">
                                <i class="material-icons left">navigate_before</i>Previous page
                            </a>
                        </div>
                        <div class="col s12 m4 l4 center-align">
                            <a id="btnHideNames" class="btn waves-effect waves-light green darken-3"
                                style="margin-top: 5px; width: 100%;">
                                <i class="material-icons right">face</i>Toggle names
                            </a>
                        </div>
                        <div class="col s12 m4 l4 center-align">
                            <a id="btnNextPage" class="btn waves-effect waves-light green darken-3"
                                style="margin-top: 5px; width: 100%;">
                                <i class="material-icons right">navigate_next</i>Next page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="hide">
    <% characters.forEach(character => { %>
    <li class="characterData"><%- character %></li>
    <% }); %>
    <% backgrounds.forEach(background => { %>
    <li class="backgroundData"><%- background %></li>
    <% }); %>
    <li id="bookType">view</li>
    <li id="bookData"><%- book %></li>
    <li id="userData"><%- userData %></li>
</ul>