<div id="bookFinish" class="fadeIn hide">
    <div class="row ">

        <div class="col s12 m8 offset-m2 l7 offset-l2">

            <div class="card">
                <div class="card-image">
                    <img id="bookCoverImage" src="imgs/backgrounds/default.jpg">
                    <span id="bookTitleDisplay" class="card-title bigTitleSpan" style="z-index: 1; top: 0;"></span>
                    <img id="characterCover1" src="" class="bottomleft">
                    <img id="characterCover3" src="" class="bottomCenter">
                    <img id="characterCover2" src="" class="bottomRight">
                </div>

                <div class="card-content" style="padding: 20px">
                    <div class="row">
                        <div class="col s12 m6 l8">
                            <textarea id="bookTitleInput" class="materialize-textarea" placeholder="Type the name of your book here..."
                                data-length="50" maxlength="50"></textarea>
                        </div>
                        <div class="col s12 m6 l4 center-align">
                            <a id="btnSaveBook" class="btn waves-effect waves-light green darken-3"
                                style="margin-top: 5px; width: 100%;">
                                <i class="material-icons right">send</i>Save book
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <form id="saveForm2" action="/savebook" method="POST" class="hide">
        <input id="saveFormInput2" type="text" name="tempBook">
    </form>

    
</div>